name: Java CI with Gradle

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Set up JDK
        uses: actions/setup-java@main
        with:
          java-version: 11
          distribution: temurin
      - name: Build LimboAPI
        run: ./gradlew build

      - name: Upload LimboAPI
        uses: marvinpinto/action-automatic-releases@master
        with:
          title: "LimboAPI"
          automatic_release_tag: "la"
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          files: "*/build/libs/*.jar"
          prerelease: true
